#my-map {
  width: 50%;
  height: 500px;
  z-index: 1000;
}
#tooltip {
  position: absolute;
  opacity: 1;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
#my-map .map-legend {
  z-index: 314159;
  position:absolute;
  bottom: 30px;
  /* left: 0; */
  
}

.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}
.wrapper {
  display:flex;
  align-items: center;
  /* margin: 1rem;
  padding: 2rem 2rem;
  position:relative; */
}
.map {
  padding: 1rem 1rem;
}

.item1 {
  padding:2px;
}

.aligned-section {
  display: flex;
  align-items: center;
} 